<footer>
	<div class="container clear">
		<ul class="footer-left fl">
			<li><a href="#">关于全民创造</a></li>	
			<li class="division-sm"></li>
			<li><a href="#" class="cfc-ff4200">全民创造用户协议</a></li>	
			<li class="division-sm"></li>
			<li><a href="#">全民创造风险提示</a></li>	
			<li class="division-sm"></li>
			<li><a href="#">联系我们</a></li>	
		</ul>
		<ul class="footer-right fr">
			<li class="logo">
				<a href="#"><h3><span class="cfc-fff">全民</span><span class="cfc-ff4200">创造</span></h3></a>
			</li>
			<li>
				<span>©2015</span>
			</li>
		</ul>
	</div>
</footer>