<div class="support-content">
	<div class="container">
		<ul class="support-ul">
			<li class="clear">
				<div class="support-li-left">支持金额：</div>
				<div class="support-li-right">
					<span class="cfc-ff4200">￥<span ng-bind="reprice" class="cfc-ff4200"></span>.00</span>
				</div>
			</li>
			<li class="clear">
				<div class="support-li-left">支持回报：</div>
				<div class="support-li-right">
					<p ng-bind="item.support"></p>
					<p class="cfc-000" style="margin-top: 15px;">预计回报发放时间: <span>项目成功结束5天内</span></p>
				</div>
			</li>
			<li class="clear">
				<div class="support-li-left">备注：</div>
				<div class="support-li-right">
					<textarea placeholder="说点什么吧，可以给项目发起者一些小小的鼓励哦~"></textarea>
				</div>
			</li>
			<li class="clear">
				<div class="support-li-left">联系方式：</div>
				<div class="support-li-right">
					<input type="text" placeholder="您的称呼"><span class="cfc-000">152****4849</span><span>（手机号码用于接收回报奖品，客服将根据此手机号与您联系，请确认无误！）</span>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="support-bottom">
	<div class="container">
		<div class="support-bottom-content">
			<h5>风险说明</h5>
			<p>1、众筹成功后，如果出现项目方回报无法发放的情况，您需要直接和项目发起人协商解决退款事宜，平台没有帮您追讨资金的义务。 </p>
			<p>2、支持纯抽奖档位一旦您支付成功将不予退款，项目募集失败的除外；支持无私奉献档位，项目一旦募集成功将不予退款。</p>
			<p>3、全民创造只提供平台服务，回报由项目发起人为您提供并负责发货，同时项目发起人有为您开具发票的法定义务。</p>
			<h5>特别说明</h5>
			<p>系统会自动对超出限额的订单进行全额退款，对您造成的不变，深表歉意！</p>
			<button type="button" class="support-btn btn" ui-sref="support.class2.supportBox1({num:2})">确认支持</button>
		</div>
	</div>
</div>